<div class="backGround">
  <div class="container">
    <h1 class="main-title">Find your new job today</h1>
    <div class="row">
      <div class="col-md-4">
        <input type="text" class="form-control" id="inputField" placeholder="Job role, Keyword" #search />
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary form-control" id="button" (click)="searchJobs(search.value)">
          Search
        </button>
      </div>
    </div>
    <div class="card" *ngFor="let job of jobDetails">
      <div class="title">{{ job.job_designation }}</div>
      <div class="content">
        {{
        job.description.length > 90
        ? job.description.substring(0, 70) + "...more"
        : job.description
        }}
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary m-3" (click)="handleClickDetail(job)">
          View
        </button>
        <button type="button" class="btn btn-secondary m-3" (click)="handleClickApply(job)">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>