.style {
    background: #EBF2FF;
    width: 100%;
    height: 480px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 551px;
    height: 59px;
    font-weight: bolder;
    border-radius: 12px;
}

.header {
    width: 604px;
    margin-top: 70px;
    margin-left: 65px;
    height: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;

    letter-spacing: 0.01em;
    color: #000000;
}

.text {
    width: 483px;
    height: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #808080;
    margin-left: 69px;
    margin-top: 10px;
}

.image {
    width: 80%;
    height: 90%;
    margin-left: 160px;
    background: url(assets/young-businesswoman-posing-with-copy-space-1.png);
    background-position: top;
    background-repeat: no-repeat; /* added this line */
}

.items {
    display: flex;
    height: 500px;
    width: 100%;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 334px;
    height: 59px;
    margin-left: 65px;
    margin-top: 40px;
}

.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 40px;
    color: white;
    background: #3773FD;
    border-radius: 8px;
    font-weight: bold;
}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 40px;
    color: black;
    background: #A2F1F6;
    border-radius: 8px;
    font-weight: bold;
}

.company-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 160px;
}

.company-image {
    margin-top: 20px;
    width: 300px;
    height: 100px;
    background-image: url(assets/download.png);
    background-size: cover;
    background-position: center;
}

