.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background-color: #fff;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .card-title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type=email],
  input[type=password] {
    border-radius: 20px;
    border: 1px solid #ced4da;
    padding: 16px 24px;
    font-size: 18px;
    width: 100%;
  }
  
  input[type=email]:focus,
  input[type=password]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  
  button[type=submit] {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    padding: 16px 0;
    width: 100%;
    margin-top: 20px;
  }
  
  button[type=submit]:hover {
    background-color: #0069d9;
  }
  