<div class="card my-3 custom-card" *ngFor="let job of applicantDetails.Job_Infos">
    <div class="card-body py-3">
        <h5 class="card-title">{{applicantDetails.user_name}}</h5>
        <p class="card-text">Work Experience: {{job.Job_Application.work_experience}}</p>
        <p class="card-text">Skills:{{job.Job_Application.skill}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-primary mr-2"
                    (click)="openResume(job.Job_Application.user_id+job.Job_Application.job_id)">Resume</button>
                <button class="btn btn-sm btn-outline-primary mr-2"
                    (click)="openCoverLetter(job.Job_Application.user_id+job.Job_Application.job_id)">Cover
                    Letter</button>
                <button class="btn btn-sm btn-outline-primary mr-2"
                    (click)="openExpLetter(job.Job_Application.user_id+job.Job_Application.job_id)">Experience
                    Letter</button>
            </div>
            <div *ngIf="job.Job_Application.status === 'Pending'" class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success mr-2"
                    (click)="accept(job.Job_Application)">Accept</button>
                <button type="button" class="btn btn-sm btn-outline-danger mr-2"
                    (click)="reject(job.Job_Application)">Reject</button>
            </div>
        </div>
    </div>
</div>